<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070757090756-gqv4ofjdq50p6agiqrs7t8ugqm8u8r05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070757090756-gqv4ofjdq50p6agiqrs7t8ugqm8u8r05</string>
	<key>API_KEY</key>
	<string>AIzaSyBAbLrN9IA8-oXepfQq5DchCSPv5Ir9XAc</string>
	<key>GCM_SENDER_ID</key>
	<string>1070757090756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rydwan.shamo</string>
	<key>PROJECT_ID</key>
	<string>shamo-7c170</string>
	<key>STORAGE_BUCKET</key>
	<string>shamo-7c170.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070757090756:ios:2da7e3bb9642b7be5e0091</string>
</dict>
</plist>